
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    
}

a {
    text-decoration: none;
    color: #9fc2db;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
}

ul {
    list-style: none;
    margin-bottom: 0;
}



.nav__list {
    display: flex;
    gap: 36px;
    padding: 10px;
    margin-top: 10px;
}
.nav__list a {
    text-decoration: none;
    color: #9fc2db;
}
.nav__img {
    width: 70px;
    margin-left: 15px;
}
.nav__rigth ul {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-top: 10px;

}
.nav__rigth a {
    text-decoration: none;
    color: #9fc2db;
}
.hero__img {
    background-image: url(./imagens/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:100vw;
    height: 90vh;
}
.hero__heading {
    position: absolute;
    top: 60%;
    left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro__hero {
    position: relative;
    height: 40vh;

}
.intro__heading {
    position: absolute;
    bottom: 10%;
    left: 50px;
    opacity: 1;
    z-index: 1;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}
.heading__1 {
    font-size: 3rem;
    color: #002766;
}
.heading__2 {
    color: #002766;
    font-size: 24px;
   
}
.heading__3 {
    color: #1299f8;
    font-weight: 700;
    font-size: 25px;
}
.heading__4 {
    font-size: 16px;
    color: #002766;
}
.info {
    font-size: 16px;
    color: #121212;
 
}

p {
    font-size: 16px;
}

.card__section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 4rem auto;
}


/* Medical page*/

.medical__section {
    position: relative;
    width: 100vw;
    height: 40vh;
   
}

.medical__section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./imagens/medical-team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(1.2); 
    opacity: 0.7; 
}

/* Medical page - CARD SECTION*/

.team {
    margin-top: 3rem;
    display: flex;
    
}
.team__filter {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 2rem;
}

.team__filter--top {
    padding: 15px;
    border: 1px solid #9fb8df;
    border-radius: 20px;
}
.team__filter--bottom{
    margin-top: 1rem;
    margin-left: .25rem;
}
.team__view {
    flex: 2;
    padding: 2rem 6rem;
}
.form-check-input {
    background-color: #b3d1e7 !important;
}

.team__search {
    padding-bottom: 10px;
}
  
.team__search--input {
    box-sizing: border-box;
    max-width: 200px;
    width: 100%;
    height: 30px;
    border: 1px solid #d5d5d5;
    border-radius: 25px;
    background-image: url();
    background-repeat: no-repeat;
    background-position: 7px 8px;
    background-size: 15px;
    margin-top: 4px;
    padding-left: 35px;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    letter-spacing: 0.8px;
    color: #949494;
}
.clear-search {
    float: right;
    color: #0066bf;
    padding-top: 17px;
    font-size: 14px;
    font-weight: 500;
}

.doctor-card {
    background-color: #c9d9dfea;
    border-radius: 1rem;
    box-shadow: 0px 2px 4px rgba(0,0,0,.04);
    display: flex;
    margin-bottom: 16px;
    padding: 20px;
    border: 1px solid #c9e3f5;
    min-width: 600px;
}

.doctor-card img {
    width: auto;
    width: 150px;
    border-radius: 16px;
    object-fit: cover;
    height: 200px;
    }


.doctor-card-info {
    margin-left: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.doctor-info-wrapper {
    margin-right: 10px;
}
.doctor-card .specialties {
    margin-bottom: 8px;
    color: #0066bf;
}
.doctor-card .doctor-card-info .name {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: #0042ad;
    margin-bottom: 0;
}
.specialties-by-organization {
    margin-bottom: 1.25rem;
}
.doctor-card-info .doctor-card-listing-main-content {
    display: flex;
}
.appointment-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}
 .appointment-wrapper .videoconsulta {
    display: flex;
    justify-content: center;
}
.appointment-wrapper .appointment-button {
    align-self: flex-end;
}
.appointment-wrapper .appointment-button a {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
.appointment-wrapper .appointment-button a span {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
 .specialties {
    margin-bottom: 8px;
    color: #0066bf;
}
 .specialties .speciality {
    color: #0066bf;
}
 .specialties .speciality a {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    color: #0066bf;
}
 .specialties-by-organization .wrapper .organization {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    color: #292c2e;
}
.specialties-by-organization .wrapper .organization p {
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: #292c2e;
}
.doctor-card .doctor-card-info .interests .list-of-interests {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    color: #656a70;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.btn.btn--blue:hover {
    background: #003f9e;
}
.btn.btn--primary:active, .btn.btn--primary.btn--active, .btn.btn--blue:active, .btn.btn--blue.btn--active {
    background-color: #002766;
}
.btn.btn--primary:hover, .btn.btn--blue:hover {
    background-color: #003f9e;
}
.btn.btn--blue {
    background: #0050ab;
    padding: 0.75rem 2rem;
}
.btn.btn--small {
    padding: 9px 20px;
}
.btn.btn--primary, .btn.btn--blue {
    background-color: #0050ab;
}
.btn:hover {
    cursor: pointer;
}
a.btn {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}
a:hover {
    color: #363636;
}


/* About page*/

.about__section {
    position: relative;
    height: 40vh;
}

.about__section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./imagens/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}
/* Doctor Details Page */

.detail__section {
    margin: 6rem;
}

.detail__section .doctor-card {
    display: flex;
    align-items: center;
    min-width: 450px;
}

/* LOGIN Page */
.login__section {
    height: 90vh;
}
.container__section {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #002766;
    border-radius: 20px;
    margin-top: 10rem;
    max-width: 50vw;
    margin-inline: auto;
}

.left-slide, .rigth-slide {
    flex: 1;
}

.left-slide img {
    max-width: 350px;
    border-radius: 20px 0 0 20px;
}
.rigth-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.rigth-slide h1 {
    padding-bottom: 1rem;
    color: #002766;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.form input {
    border-radius: 20px;
    color: #002766;
}
.form-email {
    padding-bottom: 10px; 
}
.form-password {
    padding-right: 27px; 
}
.form-btn button {
    display: flex;
    margin: 1rem auto;
    
}

.user__section {
    position: relative;
    width: 100vw;
    height: 40vh;
   
}

.user__section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./imagens/.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(1.2); 
    opacity: 0.7; 
}

.appointment__section .rigth-slide p {
    width: 80%;
    text-align: center;
}

.appointment__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    height: 100%;
}
.appointment__menu a {
    padding: 10px 20px;
    width: 200px;
}